<div class="container" style="margin-top: 20px">
  <div class="row">
    
    <div class="col-md-3">
      <button class="loginBtn loginBtn--facebook" type="button" (click)="loginFacebook()">Login with Facebook</button>
    </div>
    <div class="col-md-3">
      <button class="loginBtn loginBtn--twitter" type="button" (click)="loginTwitter()">Login with Twitter</button>
    </div>
    <div class="col-md-3">
      <button class="loginBtn loginBtn--google" type="button" (click)="loginGoogle()">Login with Google</button>
    </div>
    <div class="col-md-3">
      <button class="loginBtn loginBtn--github" type="button" (click)="loginGitHub()">Login with GitHub</button>
    </div>
  </div>
</div>